---
name: Sync labels
permissions:
  contents: read
  pull-requests: write

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "34 5 * * *"
  workflow_dispatch:

jobs:
  workflows:
    uses: homeassistant-apps/workflows/.github/workflows/labels.yaml@main
